<ion-view view-title="O aplikaci">
	<ion-content class="padding">

<h1>O anketě Strom roku</h1>

<h2>Základní informace</h2>

<p>
Anketou Strom roku chceme podpořit aktivní lidi v péči o stromy v jejich okolí. Zároveň chceme veřejnosti představit zajímavé stromy s příběhem,
které jsou naším přírodním bohatstvím a zaslouží si pozornost.</p>

<p>Celostátní anketu Strom roku pořádáme od roku 2002. Od té doby jsme obdrželi už celkem 1059 návrhů stromů a do finále postoupilo 156 stromů.
Do zpoplatněného hlasování se zapojilo více než 472 tisíc lidí a výtěžek putující na výsadbu a ochranu stromů byl téměř 2 miliony korun.</p>

<p>Odkaz na transparentní účet veřejné sbírky</p>

<h2>Jak anketa probíhá?</h2>

<p>
Anketa začíná vždy 21. března, tedy k prvnímu jarnímu dni. Až do 30. dubna přijímáme návrhy stromů, ze kterých odborná porota vybírá 12 finalistů. Od poloviny června až do 10. října se rozhoduje o vítězi a navrhovatelé stromů sbírají pro finalisty podpisy na zpoplatněné hlasovací archy. Další možností, jak stromy podpořit, je zaslání DMS. Peníze získané anketou směřují zpět k finálovým stromům a navrhovatelé za ně mohou stromy ošetřit, vysadit nové nebo pro ně vytvořit informační materiály.</p>

<p>Vyhlášení výsledků se koná u příležitosti Dne stromů, který se v naší zemi slaví 20. října. Vítězný Strom roku vyhrává poukaz na arboristické ošetření a postupuje
do mezinárodní soutěže Evropský strom roku.
</p>

	</ion-content>
</ion-view>
