<ion-tabs class="tabs-striped tabs-background-balanced tabs-color-light tabs-icon-top">
  <ion-tab title="Ročníky" icon="ion-calendar" href="#/years">
    <ion-nav-view name="years-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Hledání" icon="ion-search" href="#/search">
    <ion-nav-view name="search-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Oblíbené" icon="ion-heart" href="#/favourites">
    <ion-nav-view name="favourites-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="O aplikaci" icon="ion-information" href="#/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
